li {
  border: 1px solid red;
  list-style: none;
  height: 24px;
}
.container {
  background: orange;
}
.container-fluid {
  /*background: blue;*/
}
.container ul li {
  background: Lime;
}
.container-fluid ul li {
  background: LightGreen;
}
ul li.black-sheep{
  background: black;
}
.danger{
  background: red;
}
